---
layout: default
---
<section style="height: 60vh">
    <div class="container">
        <div class="row pt-5">
            <div class="col-md-2">
            </div>
            <div class="col-md-10 pl-5">
                <h1>
                    conseil <br />
                    data <br />
                    digital
                </h1>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row pb-5">
            <div class="col-md-6">
            </div>
            <div class="col-md-6">
                <div class="card text">
                    <div class="card-body">
                        <h6 class="card-title">à voir</h6>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-text-paragraph" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M2 12.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm4-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5z"/>
                          </svg> <a href="{% link _posts/2021-06-25-data_science_ONG.md %}" target="_blank">data science & ONGs</a><br />
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-bar-graph" viewBox="0 0 16 16">
                            <path d="M4.5 12a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-1zm3 0a.5.5 0 0 1-.5-.5v-4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5h-1zm3 0a.5.5 0 0 1-.5-.5v-6a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-.5.5h-1z"/>
                            <path d="M4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4zm0 1h8a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1z"/>
                          </svg> <a href="{% link _posts/2021-05-01-Utiliser_la_data_dans_le_e-sport.md %}" target="_blank">analyse de données e-sport</a><br />                        
<!--                         <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-graph-up" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M0 0h1v15h15v1H0V0zm10 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V4.9l-3.613 4.417a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61L13.445 4H10.5a.5.5 0 0 1-.5-.5z"/>
                          </svg> <a href="https://covidash.ixiata.com" target="_blank">tableau de bord covid-19 en france</a> -->            
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-bg p-5" id="la-data-pour-quoi-faire">
    <div class="container">
        <header class="text-center pb-5">
            <h2>
                La data pour quoi faire ?
            </h2>
        </header>
        <div class = "row">
            <div class="col-md-12">
                <p>
                    Au final, travailler sur ses données permet :
                    <ul>
                        <li>d'<b>optimiser</b></li>
                        <li>de <b>gagner du temps</b></li>
                        <li>de <b>décider</b></li>
                    </ul>
                    ... en offrant de la compréhension <br />
                    ... en permettant de trouver des réponses à des questions que l'on se pose<br />
                    ... en automatisant des tâches chronophages et répétitives<br />
                </p>
            </div>
        </div>
    </div>
</section>

<section class="p-5"  id="qu-est-ce-que-la-data-exactement">
    <div class="container">
        <header class="text-center pb-5">
            <h2>
                Qu'est-ce que la data exactement ?
            </h2>
        </header>
        <div class="row">
            <div class="col-md-6">
                <p>
                    A vrai dire, aujourd'hui tout est un peu data, ou a la possibilité de le devenir.
                </p>
                <p>
                    On regroupe sous le terme data toutes les données qui concernent notre activité, qui existent généralement au format numérique.
                </p>
                <p>
                    Il peut s'agir de <b>chiffres de vente, de quantités et de natures d'interventions</b>, de quantités d'objets produits, de quantités de ressources consommées, de nombre de kilomètres parcourus, d'avis clients... 
                </p>
                <p>
                    Ces données peuvent se trouver dans des <b>tableurs Excel, des bases de données</b>, des logiciels de comptabilité, de relation client (CRM), des sites internet... Il peut également s'agir de contenus multimedia : image, vidéo, audio.
                </p>
            </div>
            <div class="col-md-6">
                <p>
                    On peut ainsi mettre au point des dispositifs pour numériser des éléments physiques : les convertir ou les représenter en fichiers informatiques.
                </p>
                <p>
                    Tant qu'on ne les a pas travaillées, cela ne reste que des données. L'enjeu consiste donc à les faire parler pour les <b>transformer en information</b>, ou en matière première destinée à alimenter des systèmes qui produiront de la valeur en <b>optimisant l'atteinte d'objectifs</b> : gain de temps, profit, bien-être...
                </p>
            </div>
        </div>
    </div>
</section>
<section class="section-bg p-5" id="les-operations-autour-de-la-data">
    <div class="container">
        <header class="text-center pb-5">
            <h2>
                Les opérations autour de la data
            </h2>            
        </header>
        
        <h3>
            Diagnostic et stratégie data
        </h3>
        <p class="small"></p>
        <div class="row">
            <div class="col-md-12">
                <p>
                    L'objectif ici est d'identifier en quoi la data peut améliorer votre activité. 
                </p>
                <p>
                    Une première étape consiste à recenser les données dont vous disposez et à <b>déterminer la valeur</b> que leur exploitation peut générer : les informations qu'elles peuvent offrir, les questions auxquelles elles peuvent permettre de répondre, les gains de temps que peut présenter l'automatisation de leur traitement.
                </p>
                <p>
                    En complément, il est aussi intéressant d'identifier les <b>données qui vous manquent</b> pour répondre à vos enjeux, et qu'il faut envisager d'obtenir ou de créer.
                </p>
            </div>
        </div>
        <hr class="section">
        <h3>
            Qualité de la donnée, préparation, nettoyage, fusion, enrichissement
        </h3>
        <p class="small">data quality - dataprep <em>/data preparation</em> - data wrangling - data cleansing</p>
        <div class="row">
            <div class="col-md-6">
                <p>
                    Souvent les données ne sont pas exploitables telles quelles et nécessitent des traitements pour être utilisées. 
                </p>
                <p>
                    Les travaux de <b>qualité de la donnée</b> informent sur les données manquantes, invalides, les doublons. Des données de mauvaise qualité peuvent être coûteuses, particulièrement quand il s'agit de données de contact utilisées dans des communications : adresses postales, emails, numéros de téléphone. Des actions de <b>nettoyage</b> s'imposent alors : corrections, dédoublonnage, standardisation...
                </p>
            </div>
            <div class="col-md-6">
                <p>
                    Il est fréquent que des données concernant un même sujet existent à plusieurs endroits : dans des bases de données, des fichiers Excel. Il est intéressant d'<b>agréger, réconcilier, connecter, fusionner</b> ces données éparses pour obtenir une vision complète du sujet en question.
                </p>
                <p>
                    De la même manière, il peut être intéressant d'<b>enrichir</b> ces données avec des données supplémentaires : données de géolocalisation qui permettent des représentations plus visuelles, création d'indicateurs spécifiques basés sur les données existantes qui offrent des visions plus synthétiques.
                </p>
            </div>
        </div>
        <hr class="section">
        <h3>
            Analyse des données, tableaux de bord
        </h3>
        <p class="small">data analysis - data mining - BI <em>/business intelligence</em> - dataviz <em>/data visualization</em> - dashboard</p>
        <div class="row">
            <div class="col-md-12">
                <p>
                    Il s'agit ici de <b>faire parler les données</b>, et surtout de les rendre lisibles par ceux qu'elles concernent.
                </p>
                <p>
                    L'analyse de données permet de <b>répondre aux questions</b> que l'on se pose, de factualiser des intuitions, d'identifier des corrélations entre des mesures ou des événements, de trouver des explications à des phénomènes. Cela permet de <b>prendre des décisions</b> en connaissance de cause, de prioriser ses actions en fonction de critères factuels.
                </p>
                <p>
                    La <b>visualisation</b> des données à l'aide de graphiques est souvent cruciale pour une compréhension facile et rapide de grandes quantités de données complexes. La réalisation de <b>tableaux de bords</b> aide grandement pour le suivi simple et régulier d'une activité. 
                </p>
            </div>
        </div>
        <hr class="section">
        <h3>
            Solutions intelligentes basées sur les données, prédictif, intelligence artificielle
        </h3>
        <p class="small">IA - data science - AI <em>/artificial intelligence</em> - machine learning - deep learning - neural networks - CV <em>/computer vision</em> - NLP <em>/natural language processing</em> - OR <em>/operations research</em> - OCR <em>/optical character recognition</em></p>
        <div class="row">
            <div class="col-md-12">
                <p>
                    Au delà d'analyses et de représentations qui permettent d'extraire de l'information, les données peuvent également être utilisées pour des opérations visant à <b>automatiser des tâches ou résoudre des problématiques</b>.
                </p>
                <p>
                    Ainsi peut-on créer des <b>modèles prédictifs</b>, qui utilisent des données passées pour donner des pronostics lorsqu'on leur présente de nouvelles données. Par exemple, c'est ce type de modèle qui est utilisé par les messageries électroniques pour catégoriser les emails en spam ou non-spam.
                </p>
                <p>
                    L'utilisation d'algorithmes spécifiques peuvent également apporter des solutions qui répondent à des <b>enjeux d'optimisation</b>.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="p-5" id="que-peut-on-faire-avec-la-data-concretement">
    <div class="container">
        <header class="text-center pb-5">
            <h2>
                Que peut-on faire avec la data concrètement ?
            </h2>
        </header>
        <div class="row">
            <div class="col-md-6">
                <p>
                    Le travail sur les données peut présenter des bénéfices pour tous les types d'activités. En particulier, l'existence de <b>tableaux de bord</b> qui permettent de suivre à tout moment les indicateurs significatifs de son activité est un minimum pour quiconque souhaite être en maîtrise de sa performance.
                </p>
                <p>
                    De la même manière, tout le monde a intérêt à s'appuyer sur ses données pour prendre ses <b>décisions</b>, notamment déterminer ses <b>priorités</b> en termes d'actions ou d'investissements, que ce soit en besoins de formation des employés de help desks, en répartition de budgets publicitaires...
                </p>
                <p>
                    Pour les activités d'ordre <b>commercial /  marketing / communication</b> les données peuvent être utilisées pour <b>connaître ses clients</b>, leur localisation, leurs habitudes d'achat, les produits qu'ils achètent fréquemment ensemble, les circonstances et les actions qui déclenchent leurs achats... pour <b>personnaliser la relation client</b> et leur communiquer la <b>bonne offre au bon moment</b>.
                </p>
            </div>
            <div class="col-md-6">
                <p>
                    Dans les activités de <b>production</b>, des bénéfices sont à trouver dans la <b>prédictions des pannes</b> qui permet d'anticiper les opérations de maintenance, ainsi que dans l'<b>amélioration de la qualité</b> en identifiant au plus tôt les défauts.
                </p>
                <p>
                    Des solutions d'<b>optimisation</b> présenteront un intérêt aux personnes en charge de la réalisation de <b>plannings</b>, que ce soit des responsables d'équipes, des organisateurs d'événements... Il est aussi possible d'optimiser l'ordre des <b>visites de tournées</b> ou encore la <b>répartition d'objets dans un espace</b>, qui seront utiles entre autres aux transporteurs et responsables logistiques.
                </p>
            </div>
        </div>
    </div>
</section>

<!-- <section class="section-bg p-5" id="exemples-de-realisations">
    <div class="container">
        <header class="text-center pb-5">
            <h2>
                Exemples de réalisations
            </h2>            
        </header>
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="card text-center mx-auto w-50">
                        <div class="card-body">
                            <p class="card-text">
                                tableau de bord covid-19 en france
                            </p>
                            <i class="fas fa-link fa-xs"></i> <a href="https://covidash.ixiata.com" target="_blank">tableau de bord covid-19 en france</a>            
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                <div class="card text-center mx-auto w-50">
                    <div class="card-body">
                        <p class="card-text">
                            Data Qualité pour Initatives of Change Switzerland
                        </p>        
                    </div>
                    </div>
                </div>
                <div class="carousel-item">
                <div class="card text-center mx-auto w-50">
                    <div class="card-body">
                        <p class="card-text">
                            Exemple optimisation de trajet
                        </p>        
                    </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev btn btn-outline-primary" href="#carouselExampleControls" role="button" data-slide="prev">
                <i class="fas fa-arrow-left" aria-hidden="true"></i>
                <span class="sr-only">Précédent</span>
            </a>
            <a class="carousel-control-next btn btn-outline-primary" href="#carouselExampleControls" role="button" data-slide="next">
                <i class="fas fa-arrow-right" aria-hidden="true"></i>
                <span class="sr-only">Suivant</span>
            </a>
        </div>
    </div>
</section> -->

<!-- <section class="section-bg p-5" id="contactez-nous">
    <div class="container">
        <header class="text-center pb-5">
            <h2>
                Contactez-nous
            </h2>            
        </header>
        <div>
            <p class="text-center">
                Vous avez un projet ou vous souhaitez savoir comment la data peut vous aider à améliorer votre activité ?
            </p>
            <p class="text-center">
                Décrivez-nous vos besoins et laissez-nous vos coordonnées.
            </p>
            <p class="font-italic">
                Basés en Haute-Savoie, entre Annecy et Genève, nous réalisons aussi des missions à distance.
            </p>
            <p class="text-center">
                <a class="btn btn-outline-primary btn-lg" href="mailto:contact@ixiata.com?subject=Demande d'information" role="button">contact@ixiata.com</a>
            </p>
        </div>
    </div>
</section> -->
