---
layout: default
---

<section style="height: 60vh">
    <div class="container">
        <div class="row pt-5">
            <div class="col-md-2">
            </div>
            <div class="col-md-10 pl-5">
                <h1>
                    consulting <br />
                    data <br />
                    digital
                </h1>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row pb-5">
            <div class="col-md-6">
            </div>
            <div class="col-md-6">
                <div class="card text">
                    <div class="card-body">
                        <h6 class="card-title">see</h6>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-text-paragraph" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M2 12.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm4-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5z"/>
                          </svg> <a href="{% link _posts/en/2021-06-25-data_science_ONG.md %}" target="_blank">data science & NGOs</a><br />
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-bar-graph" viewBox="0 0 16 16">
                            <path d="M4.5 12a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-1zm3 0a.5.5 0 0 1-.5-.5v-4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5h-1zm3 0a.5.5 0 0 1-.5-.5v-6a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-.5.5h-1z"/>
                            <path d="M4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4zm0 1h8a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1z"/>
                          </svg> <a href="{% link _posts/en/2021-05-01-Utiliser_la_data_dans_le_e-sport.md %}" target="_blank">esport data analysis</a><br />                        
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-graph-up" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M0 0h1v15h15v1H0V0zm10 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V4.9l-3.613 4.417a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61L13.445 4H10.5a.5.5 0 0 1-.5-.5z"/>
                          </svg> <a href="https://covidash.ixiata.com" target="_blank">covid-19 in france dashbooard (fr)</a>            
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-bg p-5" id="why-use-data">
    <div class="container">
        <header class="text-center pb-5">
            <h2>
                Why use data?
            </h2>
        </header>
        <div class = "row">
            <div class="col-md-12">
                <p>
                    Ultimately, working on data allows:
                    <ul>
                        <li>to <b>optimize</b></li>
                        <li>to <b>save time</b></li>
                        <li>to <b>decide</b></li>
                    </ul>
                    ... by offering understanding <br />
                    ... by allowing to find answers to the questions we ask ourselves<br />
                    ... by automating time-consuming and repetitive tasks<br />
                </p>
            </div>
        </div>
    </div>
</section>

<section class="p-5"  id="what-exactly-is-data">
    <div class="container">
        <header class="text-center pb-5">
            <h2>
                What exactly is data?
            </h2>
        </header>
        <div class="row">
            <div class="col-md-6">
                <p>
                    In fact, today almost everything is data, or has the potential to become so.
                </p>
                <p>
                    The term is used to describe all the data that concern our activity, which generally exist in digital format.
                </p>
                <p>
                    It can be <b>sales figures, quantities and types of interventions</b>, quantities of objects produced, quantities of resources consumed, number of kilometers traveled, customer reviews... 
                </p>
                <p>
                    This data can be found in <b>Excel spreadsheets, databases</b>, accounting software, customer relationship management (CRM), websites... It can also be multimedia content: image, video, audio.
                </p>
            </div>
            <div class="col-md-6">
                <p>
                    We can thus develop devices to digitize physical elements: convert them or represent them in computer files.
                </p>
                <p>
                    As long as we haven't worked on them, they remain just data. The challenge is to make them talk to <b>transform them into information</b>, or raw material to feed systems that will produce value <b>by optimizing the achievement of objectives</b>: time savings, profit, well-being...
                </p>
            </div>
        </div>
    </div>
</section>
<section class="section-bg p-5" id="data-services">
    <div class="container">
        <header class="text-center pb-5">
            <h2>
                Data services and solutions
            </h2>            
        </header>
        
        <h3>
            Diagnosis and data strategy
        </h3>
        <p class="small"></p>
        <div class="row">
            <div class="col-md-12">
                <p>
                    The objective here is to identify how data can improve your business. 
                </p>
                <p>
                    A first step is to identify the data you have and <b>determine the value</b> that their exploitation can generate: the information they can offer, the questions they can help answer, the time savings that automating their processing can present.
                </p>
                <p>
                    As a complement, it is also worthwhile to identify the <b>data you are missing</b> to meet your challenges, which you should consider obtaining or creating.
                </p>
            </div>
        </div>
        <hr class="section">
        <h3>
            Data quality, preparation, cleansing, merging, enrichment
        </h3>
        <!-- <p class="small">data quality - dataprep <em>/data preparation</em> - data wrangling - data cleansing</p> -->
        <div class="row">
            <div class="col-md-6">
                <p>
                    Often the data is not usable as is and requires processing to be used. 
                </p>
                <p>
                    Working on <b>data quality</b> informs about missing, invalid, duplicate data. Poor quality data can be costly, especially when it comes to contact data used in communications: postal addresses, emails, phone numbers. Actions of <b>cleansing</b> are then necessary: corrections, deduplication, standardization...
                </p>
            </div>
            <div class="col-md-6">
                <p>
                    It is common for data about the same subject to exist in several silos: in databases, Excel files... It is interesting to <b>aggregate, reconcile, connect, merge</b> these scattered data to get a complete view of the subject in question.
                </p>
                <p>
                    Similarly, it may be interesting to <b>enrich</b> these data with additional data: geolocation data that allow for more visual representations, creation of specific indicators based on existing data that offer more synthetic views.
                </p>
            </div>
        </div>
        <hr class="section">
        <h3>
            Data analysis, dashboards
        </h3>
        <!-- <p class="small">data analysis - data mining - BI <em>/business intelligence</em> - dataviz <em>/data visualization</em> - dashboard</p> -->
        <div class="row">
            <div class="col-md-12">
                <p>
                    The point here is to <b>make the data talk</b>, and especially to make them readable by those they concern.
                </p>
                <p>
                    Data analysis allows to <b>answer questions</b> that we ask ourselves, to factualize intuitions, to identify correlations between measurements or events, to find explanations for phenomena. This allows one to <b>make informed decisions</b>, to prioritize one's actions based on factual criteria.
                </p>
                <p>
                    The <b>visualization</b> of data using charts and graphs is often crucial for easy and quick understanding of large amounts of complex data. Making <b>dashboards</b> helps greatly for simple and regular monitoring of an activity. 
                </p>
            </div>
        </div>
        <hr class="section">
        <h3>
            Intelligent solutions based on data, predictive, artificial intelligence
        </h3>
        <!-- <p class="small">IA - data science - AI <em>/artificial intelligence</em> - machine learning - deep learning - neural networks - CV <em>/computer vision</em> - <em>/NLP natural language processing</em> - OR <em>/operations research</em> - OCR <em>/optical character recognition</em></p> -->
        <div class="row">
            <div class="col-md-12">
                <p>
                    Beyond analyses and visualizations that extract information, data can also be used to <b>automate tasks or solve problems</b>.
                </p>
                <p>
                    Thus, we can create <b>predictive models</b>, which use data from the past to give predictions when presented with new data. For example, this is the type of model that is used by email companies to categorize emails as spam or non-spam.
                </p>
                <p>
                    The use of specific algorithms can also provide solutions that address <b>optimization issues</b>.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="p-5" id="what-can-be-done-with-data-concretely">
    <div class="container">
        <header class="text-center pb-5">
            <h2>
                What can be done with data concretely?
            </h2>
        </header>
        <div class="row">
            <div class="col-md-6">
                <p>
                    Working with data can bring benefits for all types of activities. In particular, having <b>dashboards</b> that allow to track  indicators significant of one's activity at any time is a minimum for anyone who wants to be in control of their performance.
                </p>
                <p>
                    In the same way, everyone should benefit from relying on their data to make their <b>decisions</b>, including determining their <b>priorities</b> in terms of actions or investments, whether it's in help desk employee training needs, advertising budget allocation...
                </p>
                <p>
                    For <b>sales/marketing/communication</b> activities, data can be used to <b>know its customers</b>, their location, their buying habits, the products they frequently buy together, the circumstances and actions that trigger their purchases... to <b>personalize the customer relationship</b> and communicate the <b>right offer at the right time</b>.
                </p>
            </div>
            <div class="col-md-6">
                <p>
                    In <b>industrial</b> activities, benefits are to be found in <b>failure prediction</b> that allows to anticipate maintenance operations, as well as in <b>quality improvement</b> by identifying defects as early as possible.
                </p>
                <p>
                    Solutions for <b>optimization</b> will be of interest to people in charge of carrying out <b>plannings</b>, whether they are team leaders, event organizers... It is also possible to optimize <b>delivery routes</b> or to <b>pack items of given sizes into containers</b>, which will be useful to transporters and logistics managers among others.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="section-bg p-5" id="contactez-nous">
    <div class="container">
        <header class="text-center pb-5">
            <h2>
                Contact us
            </h2>            
        </header>
        <div>
            <p class="text-center">
                Have a project you want to discuss, or want to know how data can help you improve your business?
            </p>
            <p class="text-center">
                Please describe your requirements and leave your details.
            </p>
            <p class="font-italic">
                Located in France in Haute-Savoie, between Annecy and Geneva, we also conduct projects remotely.
            </p>
            <p class="text-center">
                <a class="btn btn-outline-primary btn-lg" href="mailto:contact@ixiata.com?subject=Request for information" role="button">contact@ixiata.com</a>
            </p>
        </div>
    </div>
</section>

